experiment_name: "exp_001"
preprocess:
  h1:
    add_features: ["date_features", "season", "lag_features"]
    method: ["mstl", "lag", "moving_average", "sin_cos_features"]
    sin_cos_features:
      periods: [24, 168]
    mstl:
      general:
        iterate: 10
        stl_kwargs:
          robust: true
      OT:
        periods: [24, 72]
      HUFL:
        periods: [12, 24]
      HULL:
        periods: [12, 24]
      MUFL:
        periods: [12, 24]
      MULL:
        periods: [12, 24]
      LUFL:
        periods: [12, 24]
      LULL:
        periods: [12, 24]
    lag:
      periods: [6, 12, 24, 168]
    moving_average:
      OT:
        windows: [3, 12, 24, 168, 720]
      HUFL:
        windows: [3, 12, 24, 168]
      HULL:
        windows: [3, 12, 24, 168, 720]
      MUFL:
        windows: [3, 72, 168, 720]
      MULL:
        windows: [3, 72, 168]
      LUFL:
        windows: [3, 168, 72]
      LULL:
        windows: [3, 72]
    normalization:
      method: "standard"
  h2:
    dtype: "float32"
    add_features:
      ["date_features", "season", "lag_features", "sin_cos_features"]
    method: ["mstl", "lag", "moving_average"]
    sin_cos_features:
      periods: [24, 168, 2160, 8760]
    mstl:
      general:
        iterate: 10
        stl_kwargs:
          robust: true
      OT:
        periods: [24, 72]
      HUFL:
        periods: [12, 72]
      HULL:
        periods: [12, 24, 72]
      MUFL:
        periods: [12, 24, 72]
      MULL:
        periods: [12, 24, 480]
      LUFL:
        periods: [12, 24, 720]
      LULL:
        periods: [12, 24]
    lag:
      periods: [6, 12, 24, 168]
    moving_average:
      OT:
        windows: [3, 12]
      HUFL:
        windows: [3, 24, 48, 168]
      HULL:
        windows: [3, 24]
      MUFL:
        windows: [3, 12]
      MULL:
        windows: [3, 12, 24, 168, 720]
      LUFL:
        windows: [3, 12, 24, 168, 720]
      LULL:
        windows: [3, 12, 24, 168, 720]
    scale:
      method: "standard"
models:
  general:
    models: ["tft"]
    random_seed: 42
  tft:
    target_col: "OT"
    input_chunk_length: 72
    output_chunk_length: 24
    max_epochs: 10
    batch_size: 32
    random_state: 42
    # Optuna設定（テスト用に少なめ）
    n_trials: 3
    params:
      hidden_size:
        range: [16, 64]
      lstm_layers:
        range: [1, 2]
      num_attention_heads:
        range: [1, 4]
      dropout:
        range: [0.05, 0.3]
      learning_rate:
        range: [0.0001, 0.01]
        log: true
train:
evaluation:
